.body { 
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
     }
     ul {
        list-style-type: none;
      }
      a {
        text-decoration: none;
      }
      
           /* <!--HEADER--> */
    .header {
        background-color:#2e2f42;
     }
    .header-logo { 
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size:18px ;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5; 
     }
     .header-logo-icon { 
        color:#2e2f42 ;
     }
    .header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#2e2f42;
     }
    .header-menu-link:hover,
    .header-menu-link:focus { 
    color:#404bbf 
    }

    .address { 
        font-style: normal;
    }

    .address-link { 
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .address-link:hover,
    .adress-link:active { 
        color: #404bbf;
    }
       /* <!---HEADER---> */

       /* <!--Sec1-SOLUTION--> */
        
.solutions { 
    background-color: #2e2f42;
}
.solutions-title { 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color:#FFFFFF;
 }

.button-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color:#4d5ae5 ;
    cursor: pointer;
}
.button-title:hover,
.button-title:focus { 
    background-color: #404bbf;
}

       /*<!--SEC1-SOLUTIONS-->*/

        /*<!--SEC2-BENEFITS-->*/

 .benefits-list { 
    background-color:#FFFFFF ;
 }
.benefits-subtitle { 
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
       }
.benefits-item-text { 
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }
.subtitle2 { 
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
 }

         /* <!--SEC3-TEAM--> */
.team { 
     background-color: #F4F4FD
 }

 .team-subtitle { 
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-list-item { 
    background-color: #FFFFFF;
}
.team-list-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
       /* <!--SEC3-TEAM-->

       <!--SEC4-PORTFOLIO--> */
.portfolio-subtitle {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
    
.portfolio-list { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
                }
.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
        }
         /* /* <!--SEC4-PORTFOLIO--> */

         /* <!--FOOTER--> */ 


.footer { 
    background-color: #2e2f42;
}

.footer-logo {
     font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
     }
.footer-logo-icon { 
    color:#f4f4fd;
            }

.footer-text { 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }

  /* FOOTER */